.selected {
  background-color: #CFD8DC !important;
  color: white;
}

.heroes {
  /*background-color: white;*/
  list-style: none;
  -webkit-columns: 7;
  -moz-columns: 7;
  columns: 7;
  height: 1000px;
  width: 1000px;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
}

.heroes li.selected:hover {
  background-color: #BBD8DC !important;
  color: white;
}
/*
.heroes li:hover {
  color: #607D8B;
  background-color: #DDD;
  left: .1em;
}
*/
.heroes .text {
  position: relative;
  top: -3px;
}

img {
  padding: .5em 2em .5em 2em;
  max-height: 75px;
  max-width: 75px; 
  border-radius: 150px 100px 150px 100px;
  cursor: pointer;
}