.selected {
  background-color: #CFD8DC !important;
  color: white;
}

.heroes {
  background-image:radial-gradient(#623AD1FF, #230083FF);
  border-style: double;
  border-color: #624BAE;
  list-style: none;
  -webkit-column-count: 7;
  -moz-column-count: 7;
  column-count: 7;
  height: 1000px;
  width: 1000px;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
}

.heroes .text {
  position: relative;
  top: -3px;
}

img {
  height: 75px;
  width: 75px;
  border-radius: 150px 100px 150px 100px;
  cursor: pointer;
  border: 1px solid #624BAE;
  margin: 5px 2px 5px 2px;
}

img:hover {
  border: 1px solid white;
}
