<div class="about-me">
  <div class="title"><p>Hello World!</p></div>
  <div class="first-part">
    <p>Welcome to this website, I hope you are enjoying your time here !</p>
    <p>I am really happy to provide this webste to you all !</p>
    <p>Being my first attempt to create website using Angular2, I am happy with the result</p>
  </div>
  <div class="second-part">
    <p>Doing this website was really enjoyable, working to produce content about a game I really like was nice too</p>
    <p>I will keep working on it, don't forget to pass by sometimes so :D</p>
  </div>
  <div class="third-part">
    <p>Well, I didn't introduce myself,</p>
    <p>My name is Laurent, for you on internet I will be Lismeth, actually 22 years old, and in the end of my first year of computer science study</p>
    <p>Until now I have only code using C, I saw a bit of Ruby, and next year I am going to learn C++ in my classes.</p>
    <p>Before entering my school, I was playing a lot, not too many games</p>
    <p>I was more the kind who start a game and stuck to it until it annoy me</p>
    <p>As for now, I would like in the future to work as a developer in the video games industry</p>
  </div>
  <div class="fourth-part">
    <p>As main hobbies, I have : </p>
    <tr>
      <td>Reading </td>
      <ul>
        <li>Mangas</li>
        <li>Romans</li>
        <li>Comics</li>
        <li>Patch-Notes :3</li>
      </ul>
      <td>Watching</td>
      <ul>
        <li>Animes</li>
        <li>Movies</li>
        <li>Comics</li>
        <li>HotS Esport</li>
        <li>Pro HotS Stream</li>
     </ul>
    </tr>
    <p>And of course coding</p>
  </div>
<div>


