<div *ngIf="hero" class="heroes-pages">
  <h2 style="color: white">{{hero.name}}</h2>
  <div class ="heroes-roles">
    <p>{{hero.desc}}</p>
  </div>
 <!-- HEROES VITALS START HERE
 <div class="heroes-vitals">
    <p *ngIf="hero.life !== 0">Health Pool: {{hero.life}}</p>
    <p *ngIf="hero.regen !== 0">Health Regeneration: {{hero.regen}}/sec</p>
    <p *ngIf="hero.AA !== 0">Basic Attack: {{hero.AA}}</p>
    <p *ngIf="hero.AS !== 0">Attack Speed: {{hero.AS}}/sec</p>
    <p *ngIf="hero.armor !== 0">Armor: {{hero.armor}}</p>
    <p *ngIf="hero.Parmor !== 0">Physical Armor: {{hero.Parmor}}</p>
    <p *ngIf="hero.Marmor !== 0">Magical Armor: {{hero.Marmor}}</p>
    <p *ngIf="hero.scale !== 0">Scaling : {{hero.scale}}%</p>
    <p *ngIf="hero.scaleA !== 0">Scaling AA: {{hero.scaleA}}%</p>
    <p *ngIf="hero.scaleH !== 0">Scaling Health: {{hero.scaleH}}%</p>
  </div>
  HEROES VITALS END HERE -->
  <!-- HEROES SPELLS START HERE -->
  <div class="heroes-spells">
    <div *ngIf="hero.trait !== 0" class="trait">
      <img src="{{hero.trait_img}}"/>
      <div class="trait-desc">{{hero.trait}}</div>
    </div>
    <div *ngIf="hero.Q_spell !== 0" class="Q_spell">
      <img src="{{hero.Q_img}}"/>
      <div class="Q-desc">{{hero.Q_spell}}</div>
    </div>
    <div *ngIf="hero.W_spell !== 0" class="W_spell">
      <img src="{{hero.W_img}}"/>
      <div class="W-desc">{{hero.W_spell}}</div>
    </div>
    <div *ngIf="hero.E_spell !== 0" class="E_spell">
      <img src="{{hero.E_img}}"/>
      <div class="E-desc">{{hero.E_spell}}</div>
    </div>
    <div *ngIf="hero.R1_spell !== 0" class="R1_spell">
      <img src="{{hero.R1_img}}"/>
      <div class="R1-desc">{{hero.R1_spell}}</div>
    </div>
    <div *ngIf="hero.R2_spell !== 0" class="R2_spell">
      <img src="{{hero.R2_img}}"/>
      <div class="R2-desc">{{hero.R2_spell}}</div>
    </div>
    <div *ngIf="hero.R3_spell !== 0" class="R3_spell">
      <img src="{{hero.R3_img}}"/>
      <div class="R3-desc">{{hero.R3_spell}}</div>
    </div>
  </div>
  <!-- HEROES SPELLS END HERE -->
  <!-- HEROES TALENTS START HERE -->
  <div class="heroes-talents">
    <!-- TIER 1 START HERE -->
    <div class="tier1">
      <div *ngIf="hero.tier1choice1 !== 0" class="tier1_choice1">
	<div class="test" (click)="selectTalent(11)" (click)="selectTier1(1)"><img src="{{hero.tier1choice1img}}"><span>{{hero.tier1choice1}}</span></div>
	<div *ngIf="selectedTalent === 11" class="t1-c1">
	  <p><img src="{{hero.tier1choice1img}}">{{hero.tier1choice1}}</p>
	  <p>{{hero.desc1choice1}}</p>
	</div>
      </div>
      <div *ngIf="hero.tier1choice2 !== 0" class="tier1_choice2">
	<img src="{{hero.tier1choice2img}}" (click)="selectTalent(12)" (click)="selectTier1(2)"><span>{{hero.tier1choice2}}</span>
	<div *ngIf="selectedTalent === 12" class="t1-c2">
	  <p><img src="{{hero.tier1choice2img}}">{{hero.tier1choice2}}</p>
          <p>{{hero.desc1choice2}}</p>
	</div>
      </div>
      <div *ngIf="hero.tier1choice3 !== 0" class="tier1_choice3">
	<img src="{{hero.tier1choice3img}}" (click)="selectTalent(13)" (click)="selectTier1(3)"><span>{{hero.tier1choice3}}</span>
	<div *ngIf="selectedTalent === 13" class="t1-c3">
	  <p><img src="{{hero.tier1choice3img}}">{{hero.tier1choice3}}</p>
          <p>{{hero.desc1choice3}}</p>
	</div>
      </div>
      <div *ngIf="hero.tier1choice4 !== 0" class="tier1_choice4">
	<img src="{{hero.tier1choice4img}}" (click)="selectTalent(14)" (click)="selectTier1(4)"><span>{{hero.tier1choice4}}</span>
	<div *ngIf="selectedTalent === 14" class="t1-c4">
	  <p><img src="{{hero.tier1choice4img}}">{{hero.tier1choice4}}</p>
          <p>{{hero.desc1choice4}}</p>
	</div>
      </div>
      <div *ngIf="hero.tier1choice5 !== 0" class="tier1_choice5">
	<img src="{{hero.tier1choice5img}}" (click)="selectTalent(15)" (click)="selectTier1(5)"><span>{{hero.tier1choice5}}</span>
	<div *ngIf="selectedTalent == 15" class="t1-c5">
          <p><img src="{{hero.tier1choice5img}}">{{hero.tier1choice5}}</p>
          <p>{{hero.desc1choice5}}</p>
        </div>
      </div>
    </div>
    <!-- TIER 1 END HERE -->
    <!-- TIER 2 START HERE -->
   <div class="tier2">
      <div *ngIf="hero.tier2choice1 !== 0" class="tier2_choice1">
        <img src="{{hero.tier2choice1img}}" (click)="selectTalent(21)" (click)="selectTier2(1)"><span>{{hero.tier2choice1}}</span>
        <div *ngIf="selectedTalent === 21" class="t2-c1">
          <p><img src="{{hero.tier2choice1img}}">{{hero.tier2choice1}}</p>
          <p>{{hero.desc2choice1}}</p>
        </div>
      </div>
      <div *ngIf="hero.tier2choice2 !== 0" class="tier2_choice2">
        <img src="{{hero.tier2choice2img}}" (click)="selectTalent(22)" (click)="selectTier2(2)"><span>{{hero.tier2choice2}}</span>
        <div *ngIf="selectedTalent === 22" class="t2-c2">
          <p><img src="{{hero.tier2choice2img}}">{{hero.tier2choice2}}</p>
          <p>{{hero.desc2choice2}}</p>
        </div>
      </div>
      <div *ngIf="hero.tier2choice3 !== 0" class="tier2_choice3">
        <img src="{{hero.tier2choice3img}}" (click)="selectTalent(23)" (click)="selectTier2(3)"><span>{{hero.tier2choice3}}</span>
        <div *ngIf="selectedTalent === 23" class="t2-c3">
          <p><img src="{{hero.tier2choice3img}}">{{hero.tier2choice3}}</p>
          <p>{{hero.desc2choice3}}</p>
        </div>
      </div>
      <div *ngIf="hero.tier2choice4 !== 0" class="tier2_choice4">
        <img src="{{hero.tier2choice4img}}" (click)="selectTalent(24)" (click)="selectTier2(4)"><span>{{hero.tier2choice4}}</span>
        <div *ngIf="selectedTalent === 24" class="t2-c4">
          <p><img src="{{hero.tier2choice4img}}">{{hero.tier2choice4}}</p>
          <p>{{hero.desc2choice4}}</p>
        </div>
      </div>
      <div *ngIf="hero.tier2choice5 !== 0" class="tier2_choice5">
        <img src="{{hero.tier2choice5img}}" (click)="selectTalent(25)" (click)="selectTier2(5)"><span>{{hero.tier2choice5}}</span>
	<div *ngIf="selectedTalent === 25" class="t2-c5">
          <p><img src="{{hero.tier2choice5img}}">{{hero.tier2choice5}}</p>
          <p>{{hero.desc2choice5}}</p>
        </div>
      </div>
    </div>
    <!-- TIER 2 END HERE -->
    <!-- TIER 3 START HERE -->
    <div class="tier3">
      <div *ngIf="hero.tier3choice1 !== 0" class="tier3_choice1">
        <img src="{{hero.tier3choice1img}}" (click)="selectTalent(31)" (click)="selectTier3(1)"><span>{{hero.tier3choice1}}</span>
        <div *ngIf="selectedTalent === 31" class="t3-c1">
          <p><img src="{{hero.tier3choice1img}}">{{hero.tier3choice1}}</p>
          <p>{{hero.desc3choice1}}</p>
        </div>
      </div>
      <div *ngIf="hero.tier3choice2 !== 0" class="tier3_choice2">
        <img src="{{hero.tier3choice2img}}" (click)="selectTalent(32)" (click)="selectTier3(2)"><span>{{hero.tier3choice2}}</span>
        <div *ngIf="selectedTalent === 32" class="t3-c2">
          <p><img src="{{hero.tier3choice2img}}">{{hero.tier3choice2}}</p>
          <p>{{hero.desc3choice2}}</p>
        </div>
      </div>
      <div *ngIf="hero.tier3choice3 !== 0" class="tier3_choice3">
        <img src="{{hero.tier3choice3img}}" (click)="selectTalent(33)" (click)="selectTier3(3)"><span>{{hero.tier3choice3}}</span>
        <div *ngIf="selectedTalent === 33" class="t3-c3">
          <p><img src="{{hero.tier3choice3img}}">{{hero.tier3choice3}}</p>
          <p>{{hero.desc3choice3}}</p>
        </div>
      </div>
      <div *ngIf="hero.tier3choice4 !== 0" class="tier3_choice4">
        <img src="{{hero.tier3choice4img}}" (click)="selectTalent(34)" (click)="selectTier3(4)"><span>{{hero.tier3choice4}}</span>
        <div *ngIf="selectedTalent === 34" class="t3-c4">
          <p><img src="{{hero.tier3choice4img}}">{{hero.tier3choice4}}</p>
          <p>{{hero.desc3choice4}}</p>
        </div>
      </div>
      <div *ngIf="hero.tier3choice5 !== 0" class="tier3_choice5">
        <img src="{{hero.tier3choice5img}}" (click)="selectTalent(35)" (click)="selectTier3(5)"><span>{{hero.tier3choice5}}</span>
	<div *ngIf="selectedTalent === 35" class="t3-c5">
          <p><img src="{{hero.tier3choice5img}}">{{hero.tier3choice5}}</p>
          <p>{{hero.desc3choice5}}</p>
        </div>
      </div>
    </div>
    <!-- TIER 3 END HERE -->
    <!-- TIER 4 START HERE -->
    <div class="tier4">
      <div *ngIf="hero.tier4choice1 !== 0" class="tier4_choice1">
        <img src="{{hero.tier4choice1img}}" (click)="selectTalent(41)" (click)="selectTier4(1)"><span>{{hero.tier4choice1}}</span>
        <div *ngIf="selectedTalent === 41" class="t4-c1">
          <p><img src="{{hero.tier4choice1img}}">{{hero.tier4choice1}}</p>
          <p>{{hero.desc4choice1}}</p>
        </div>
      </div>
      <div *ngIf="hero.tier4choice2 !== 0" class="tier4_choice2">
        <img src="{{hero.tier4choice2img}}" (click)="selectTalent(42)" (click)="selectTier4(2)"><span>{{hero.tier4choice2}}</span>
        <div *ngIf="selectedTalent === 42" class="t4-c2">
          <p><img src="{{hero.tier4choice2img}}">{{hero.tier4choice2}}</p>
          <p>{{hero.desc4choice2}}</p>
        </div>
      </div>
      <div *ngIf="hero.tier4choice3 !== 0" class="tier4_choice3">
        <img src="{{hero.tier4choice3img}}" (click)="selectTalent(43)" (click)="selectTier4(3)"><span>{{hero.tier4choice3}}</span>
        <div *ngIf="selectedTalent === 43" class="t4-c3">
          <p><img src="{{hero.tier4choice3img}}">{{hero.tier4choice3}}</p>
          <p>{{hero.desc4choice3}}</p>
        </div>
      </div>
    </div>
    <!--TIER 4 END HERE -->
    <!-- TIER 5 START HERE-->
    <div class="tier5">
      <div *ngIf="hero.tier5choice1 !== 0" class="tier5_choice1">
        <img src="{{hero.tier5choice1img}}" (click)="selectTalent(51)" (click)="selectTier5(1)"><span>{{hero.tier5choice1}}</span>
        <div *ngIf="selectedTalent === 51" class="t5-c1">
          <p><img src="{{hero.tier5choice1img}}">{{hero.tier5choice1}}</p>
          <p>{{hero.desc5choice1}}</p>
        </div>
      </div>
      <div *ngIf="hero.tier5choice2 !== 0" class="tier5_choice2">
        <img src="{{hero.tier5choice2img}}" (click)="selectTalent(52)" (click)="selectTier5(2)"><span>{{hero.tier5choice2}}</span>
        <div *ngIf="selectedTalent === 52" class="t5-c2">
          <p><img src="{{hero.tier5choice2img}}">{{hero.tier5choice2}}</p>
          <p>{{hero.desc5choice2}}</p>
        </div>
      </div>
      <div *ngIf="hero.tier5choice3 !== 0" class="tier5_choice3">
        <img src="{{hero.tier5choice3img}}" (click)="selectTalent(53)" (click)="selectTier5(3)"><span>{{hero.tier5choice3}}</span>
        <div *ngIf="selectedTalent === 53" class="t5-c3">
          <p><img src="{{hero.tier5choice3img}}">{{hero.tier5choice3}}</p>
          <p>{{hero.desc5choice3}}</p>
        </div>
      </div>
      <div *ngIf="hero.tier5choice4 !== 0" class="tier5_choice4">
        <img src="{{hero.tier5choice4img}}" (click)="selectTalent(54)" (click)="selectTier5(4)"><span>{{hero.tier5choice4}}</span>
        <div *ngIf="selectedTalent === 54" class="t5-c4">
          <p><img src="{{hero.tier5choice4img}}">{{hero.tier5choice4}}</p>
          <p>{{hero.desc5choice4}}</p>
        </div>
      </div>
      <div *ngIf="hero.tier5choice5 !== 0" class="tier5_choice5">
        <img src="{{hero.tier5choice5img}}" (click)="selectTalent(55)" (click)="selectTier5(5)"><span>{{hero.tier5choice5}}</span>
	<div *ngIf="selectedTalent === 55" class="t5-c5">
          <p><img src="{{hero.tier5choice5img}}">{{hero.tier5choice5}}</p>
          <p>{{hero.desc5choice5}}</p>
        </div>
      </div>
    </div>
    <!-- TIER 5 END HERE -->
    <!--TIER 6 START HERE -->
    <div class="tier6">
      <div *ngIf="hero.tier6choice1 !== 0" class="tier6_choice1">
        <img src="{{hero.tier6choice1img}}" (click)="selectTalent(61)" (click)="selectTier6(1)"><span>{{hero.tier6choice1}}</span>
        <div *ngIf="selectedTalent === 61" class="t6-c1">
          <p><img src="{{hero.tier6choice1img}}">{{hero.tier6choice1}}</p>
          <p>{{hero.desc6choice1}}</p>
        </div>
      </div>
      <div *ngIf="hero.tier6choice2 !== 0" class="tier6_choice2">
        <img src="{{hero.tier6choice2img}}" (click)="selectTalent(62)" (click)="selectTier6(2)"><span>{{hero.tier6choice2}}</span>
        <div *ngIf="selectedTalent === 62" class="t6-c2">
          <p><img src="{{hero.tier6choice2img}}">{{hero.tier6choice2}}</p>
          <p>{{hero.desc6choice2}}</p>
        </div>
      </div>
      <div *ngIf="hero.tier6choice3 !== 0" class="tier6_choice3">
        <img src="{{hero.tier6choice3img}}" (click)="selectTalent(63)" (click)="selectTier6(3)"><span>{{hero.tier6choice3}}</span>
        <div *ngIf="selectedTalent === 63" class="t6-c3">
          <p><img src="{{hero.tier6choice3img}}">{{hero.tier6choice3}}</p>
          <p>{{hero.desc6choice3}}</p>
        </div>
      </div>
      <div *ngIf="hero.tier6choice4 !== 0" class="tier6_choice4">
        <img src="{{hero.tier6choice4img}}" (click)="selectTalent(64)" (click)="selectTier6(4)"><span>{{hero.tier6choice4}}</span>
        <div *ngIf="selectedTalent === 64" class="t6-c4">
          <p><img src="{{hero.tier6choice4img}}">{{hero.tier6choice4}}</p>
          <p>{{hero.desc6choice4}}</p>
        </div>
      </div>
      <div *ngIf="hero.tier6choice5 !== 0" class="tier6_choice5">
        <img src="{{hero.tier6choice5img}}" (click)="selectTalent(65)" (click)="selectTier6(5)"><span>{{hero.tier6choice5}}</span>
	<div *ngIf="selectedTalent === 65" class="t6-c5">
          <p><img src="{{hero.tier6choice5img}}">{{hero.tier6choice5}}</p>
          <p>{{hero.desc6choice5}}</p>
        </div>
      </div>
    </div>
    <!-- TIER 6 END -->
    <!-- TIER 7 START HERE-->
    <div class="tier7">
      <div *ngIf="hero.tier7choice1 !== 0" class="tier7_choice1">
        <img src="{{hero.tier7choice1img}}" (click)="selectTalent(71)" (click)="selectTier7(1)"><span>{{hero.tier7choice1}}</span>
        <div *ngIf="selectedTalent === 71" class="t7-c1">
          <p><img src="{{hero.tier7choice1img}}">{{hero.tier7choice1}}</p>
          <p>{{hero.desc7choice1}}</p>
        </div>
      </div>
      <div *ngIf="hero.tier7choice2 !== 0" class="tier7_choice2">
        <img src="{{hero.tier7choice2img}}" (click)="selectTalent(72)" (click)="selectTier7(2)"><span>{{hero.tier7choice2}}</span>
        <div *ngIf="selectedTalent === 72" class="t7-c2">
          <p><img src="{{hero.tier7choice2img}}">{{hero.tier7choice2}}</p>
          <p>{{hero.desc7choice2}}</p>
        </div>
      </div>
      <div *ngIf="hero.tier7choice3 !== 0" class="tier7_choice3">
        <img src="{{hero.tier7choice3img}}" (click)="selectTalent(73)" (click)="selectTier7(3)"><span>{{hero.tier7choice3}}</span>
        <div *ngIf="selectedTalent === 73" class="t7-c3">
          <p><img src="{{hero.tier7choice3img}}">{{hero.tier7choice3}}</p>
          <p>{{hero.desc7choice3}}</p>
        </div>
      </div>
      <div *ngIf="hero.tier7choice4 !== 0" class="tier7_choice4">
        <img src="{{hero.tier7choice4img}}" (click)="selectTalent(74)" (click)="selectTier7(4)"><span>{{hero.tier7choice4}}</span>
        <div *ngIf="selectedTalent === 74" class="t7-c4">
          <p><img src="{{hero.tier7choice4img}}">{{hero.tier7choice4}}</p>
          <p>{{hero.desc7choice4}}</p>
        </div>
      </div>
      <div *ngIf="hero.tier7choice5 !== 0" class="tier7_choice5">
        <img src="{{hero.tier7choice5img}}" (click)="selectTalent(75)" (click)="selectTier7(5)"><span>{{hero.tier7choice5}}</span>
	<div *ngIf="selectedTalent === 75" class="t7-c5">
          <p><img src="{{hero.tier7choice5img}}">{{hero.tier7choice5}}</p>
          <p>{{hero.desc7choice5}}</p>
        </div>
      </div>
    </div>
    <!-- TIER 7 END HERE -->
  </div>
  <!-- HEROES TALENTS END HERE -->
  <!-- TALENT CALCULATOR START HERE -->
  <div class="talents-calculator">
    <div class="talent-title"><p>Your build : </p></div>
    <!-- TIER 1 -->
    <div class="tier1">
      <div *ngIf="selectedTier1 === 1">
        <div class="11">
	  <img src="{{hero.tier1choice1img}}">
	  <div class="talent-desc">{{hero.desc1choice1}}</div>
          <p>{{hero.tier1choice1}}</p>
        </div>
      </div>
      <div *ngIf="selectedTier1 === 2">
        <div class="12">
          <img src="{{hero.tier1choice2img}}">
          <div class="talent-desc">{{hero.desc1choice2}}</div>
          <p>{{hero.tier1choice2}}</p>
        </div>
      </div>
      <div *ngIf="selectedTier1 === 3">
        <div class="13">
          <img src="{{hero.tier1choice3img}}">
          <div class="talent-desc">{{hero.desc1choice3}}</div>
          <p>{{hero.tier1choice3}}</p>
        </div>
      </div>
      <div *ngIf="selectedTier1 === 4">
        <div class="14">
          <img src="{{hero.tier1choice4img}}">
          <div class="talent-desc">{{hero.desc1choice4}}</div>
          <p>{{hero.tier1choice4}}</p>
        </div>
      </div>
      <div *ngIf="selectedTier1 === 5">
        <div class="15">
          <img src="{{hero.tier1choice5img}}">
          <div class="talent-desc">{{hero.desc1choice5}}</div>
          <p>{{hero.tier1choice5}}</p>
        </div>
      </div>
    </div>
    <!-- TIER 2 -->
    <div class="tier2">
      <div *ngIf="selectedTier2 === 1">
        <div class="21">
          <img src="{{hero.tier2choice1img}}">
          <div class="talent-desc">{{hero.desc2choice1}}</div>
          <p>{{hero.tier2choice1}}</p>
        </div>
      </div>
      <div *ngIf="selectedTier2 === 2">
        <div class="22">
          <img src="{{hero.tier2choice2img}}">
          <div class="talent-desc">{{hero.desc2choice2}}</div>
          <p>{{hero.tier2choice2}}</p>
        </div>
      </div>
      <div *ngIf="selectedTier2 === 3">
        <div class="23">
          <img src="{{hero.tier2choice3img}}">
          <div class="talent-desc">{{hero.desc2choice3}}</div>
          <p>{{hero.tier2choice3}}</p>
        </div>
      </div>
      <div *ngIf="selectedTier2 === 4">
        <div class="24">
          <img src="{{hero.tier2choice4img}}">
          <div class="talent-desc">{{hero.desc2choice4}}</div>
          <p>{{hero.tier2choice4}}</p>
        </div>
      </div>
      <div *ngIf="selectedTier2 === 5">
        <div class="25">
          <img src="{{hero.tier2choice5img}}">
          <div class="talent-desc">{{hero.desc2choice5}}</div>
          <p>{{hero.tier2choice5}}</p>
        </div>
      </div>
    </div>
    <!-- TIER 3 -->
    <div class="tier3">
      <div *ngIf="selectedTier3 === 1">
        <div class="31">
          <img src="{{hero.tier3choice1img}}">
          <div class="talent-desc">{{hero.desc3choice1}}</div>
          <p>{{hero.tier3choice1}}</p>
        </div>
      </div>
      <div *ngIf="selectedTier3 === 2">
        <div class="32">
          <img src="{{hero.tier3choice2img}}">
          <div class="talent-desc">{{hero.desc3choice2}}</div>
          <p>{{hero.tier3choice2}}</p>
        </div>
      </div>
      <div *ngIf="selectedTier3 === 3">
        <div class="33">
          <img src="{{hero.tier3choice3img}}">
          <div class="talent-desc">{{hero.desc3choice3}}</div>
          <p>{{hero.tier3choice3}}</p>
        </div>
      </div>
      <div *ngIf="selectedTier3 === 4">
        <div class="34">
          <img src="{{hero.tier3choice4img}}">
          <div class="talent-desc">{{hero.desc3choice4}}</div>
          <p>{{hero.tier3choice4}}</p>
        </div>
      </div>
      <div *ngIf="selectedTier3 === 5">
        <div class="35">
          <img src="{{hero.tier3choice5img}}">
          <div class="talent-desc">{{hero.desc3choice5}}</div>
          <p>{{hero.tier3choice5}}</p>
        </div>
      </div>
    </div>
    <!-- TIER 4 -->
    <div class="tier4">
      <div *ngIf="selectedTier4 === 1">
        <div class="41">
          <img src="{{hero.tier4choice1img}}">
          <div class="talent-desc">{{hero.desc4choice1}}</div>
          <p>{{hero.tier4choice1}}</p>
        </div>
      </div>
      <div *ngIf="selectedTier4 === 2">
        <div class="42">
          <img src="{{hero.tier4choice2img}}">
          <div class="talent-desc">{{hero.desc4choice2}}</div>
          <p>{{hero.tier4choice2}}</p>
        </div>
      </div>
      <div *ngIf="selectedTier4 === 3">
        <div class="43">
          <img src="{{hero.tier4choice3img}}">
          <div class="talent-desc">{{hero.desc4choice3}}</div>
          <p>{{hero.tier4choice3}}</p>
        </div>
      </div>
    </div>
    <!-- TIER 5 -->
    <div class="tier5">
      <div *ngIf="selectedTier5 === 1">
        <div class="51">
          <img src="{{hero.tier5choice1img}}">
          <div class="talent-desc">{{hero.desc5choice1}}</div>
          <p>{{hero.tier5choice1}}</p>
        </div>
      </div>
      <div *ngIf="selectedTier5 === 2">
        <div class="52">
          <img src="{{hero.tier5choice2img}}">
          <div class="talent-desc">{{hero.desc5choice2}}</div>
          <p>{{hero.tier5choice2}}</p>
        </div>
      </div>
      <div *ngIf="selectedTier5 === 3">
        <div class="53">
          <img src="{{hero.tier5choice3img}}">
          <div class="talent-desc">{{hero.desc5choice3}}</div>
          <p>{{hero.tier5choice3}}</p>
        </div>
      </div>
      <div *ngIf="selectedTier5 === 4">
        <div class="54">
          <img src="{{hero.tier5choice4img}}">
          <div class="talent-desc">{{hero.desc5choice4}}</div>
          <p>{{hero.tier5choice4}}</p>
        </div>
      </div>
      <div *ngIf="selectedTier5 === 5">
        <div class="55">
          <img src="{{hero.tier5choice5img}}">
          <div class="talent-desc">{{hero.desc5choice5}}</div>
          <p>{{hero.tier5choice5}}</p>
        </div>
      </div>
    </div>
    <!-- TIER 6 -->
    <div class="tier6">
      <div *ngIf="selectedTier6 === 1">
        <div class="61">
          <img src="{{hero.tier6choice1img}}">
          <div class="talent-desc">{{hero.desc6choice1}}</div>
          <p>{{hero.tier6choice1}}</p>
        </div>
      </div>
      <div *ngIf="selectedTier6 === 2">
        <div class="62">
          <img src="{{hero.tier6choice2img}}">
          <div class="talent-desc">{{hero.desc6choice2}}</div>
          <p>{{hero.tier6choice2}}</p>
        </div>
      </div>
      <div *ngIf="selectedTier6 === 3">
        <div class="63">
          <img src="{{hero.tier6choice3img}}">
          <div class="talent-desc">{{hero.desc6choice3}}</div>
          <p>{{hero.tier6choice3}}</p>
        </div>
      </div>
      <div *ngIf="selectedTier6 === 4">
        <div class="64">
          <img src="{{hero.tier6choice4img}}">
          <div class="talent-desc">{{hero.desc6choice4}}</div>
          <p>{{hero.tier6choice4}}</p>
        </div>
      </div>
      <div *ngIf="selectedTier6 === 5">
        <div class="65">
          <img src="{{hero.tier6choice5img}}">
          <div class="talent-desc">{{hero.desc6choice5}}</div>
          <p>{{hero.tier6choice5}}</p>
        </div>
      </div>
    </div>
    <!-- TIER 7 -->
    <div class="tier7">
      <div *ngIf="selectedTier7 === 1">
        <div class="71">
          <img src="{{hero.tier7choice1img}}">
          <div class="talent-desc">{{hero.desc7choice1}}</div>
          <p>{{hero.tier7choice1}}</p>
        </div>
      </div>
      <div *ngIf="selectedTier7 === 2">
        <div class="72">
          <img src="{{hero.tier7choice2img}}">
          <div class="talent-desc">{{hero.desc7choice2}}</div>
          <p>{{hero.tier7choice2}}</p>
        </div>
      </div>
      <div *ngIf="selectedTier7 === 3">
        <div class="73">
          <img src="{{hero.tier7choice3img}}">
          <div class="talent-desc">{{hero.desc7choice3}}</div>
          <p>{{hero.tier7choice3}}</p>
        </div>
      </div>
      <div *ngIf="selectedTier7 === 4">
        <div class="74">
          <img src="{{hero.tier7choice4img}}">
          <div class="talent-desc">{{hero.desc7choice4}}</div>
          <p>{{hero.tier7choice4}}</p>
        </div>
      </div>
      <div *ngIf="selectedTier7 === 5">
        <div class="75">
          <img src="{{hero.tier7choice5img}}">
          <div class="talent-desc">{{hero.desc7choice5}}</div>
          <p>{{hero.tier7choice5}}</p>
        </div>
      </div>
    </div>
  </div>
  <!-- TALENT CALCULATOR END HERE -->
  <!--<button (click)="goBack()">Back</button>
  <button (click)="save()">Save</button>-->
</div>
